In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [23]:
pd.set_option('display.max_columns', None)
customers = pd.read_csv('customer_details.csv')
customers.shape

(7049, 26)

In [24]:
customers.info() # i notice that "total_charges" has ~11 null values. i don't think dropping these null values will be statistically significant to my dataset and analysis.
customers = customers.dropna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             7049 non-null   object
 1   gender                  7049 non-null   object
 2   is_senior_citizen       7049 non-null   int64
 3   partner                 7049 non-null   object
 4   dependents              7049 non-null   object
 5   phone_service           7049 non-null   int64
 6   internet_service        7049 non-null   int64
 7   contract_type           7049 non-null   int64
 8   payment_type            7049 non-null   object
 9   monthly_charges         7049 non-null   float64
 10  total_charges           7038 non-null   float64
 11  churn                   7049 non-null   object
 12  tenure                  7049 non-null   float64
 13  is_female               7049 non-null   bool
 14  has_churned             7049 non-null   bool
 15  has_phone               7049 non-null   bool
 16  has_internet            7049 non-null   bool
 17  has_phone_and_internet  7049 non-null   bool
 18  partner_dependents      7049 non-null   int64
 19  calculated              7049 non-null   float64
 20  validate_total_costs    7049 non-null   bool
 21  num_of_lines            7049 non-null   object
 22  internet_service.1      7049 non-null   object
 23  type_of_contract        7049 non-null   object
 24  rounded_tenure          7049 non-null   int64
 25  service_type            7049 non-null   object
dtypes: bool(6), float64(4), int64(6), object(10)
memory usage: 1.1+ MB

In [25]:
customers.shape

(7038, 26)

In [26]:
# resetting the dataset index to account for deleted "null rows"
customers = customers.reset_index()

In [27]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7038 entries, 0 to 7037
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   7038 non-null   int64
 1   customer_id             7038 non-null   object
 2   gender                  7038 non-null   object
 3   is_senior_citizen       7038 non-null   int64
 4   partner                 7038 non-null   object
 5   dependents              7038 non-null   object
 6   phone_service           7038 non-null   int64
 7   internet_service        7038 non-null   int64
 8   contract_type           7038 non-null   int64
 9   payment_type            7038 non-null   object
 10  monthly_charges         7038 non-null   float64
 11  total_charges           7038 non-null   float64
 12  churn                   7038 non-null   object
 13  tenure                  7038 non-null   float64
 14  is_female               7038 non-null   bool
 15  has_churned             7038 non-null   bool
 16  has_phone               7038 non-null   bool
 17  has_internet            7038 non-null   bool
 18  has_phone_and_internet  7038 non-null   bool
 19  partner_dependents      7038 non-null   int64
 20  calculated              7038 non-null   float64
 21  validate_total_costs    7038 non-null   bool
 22  num_of_lines            7038 non-null   object
 23  internet_service.1      7038 non-null   object
 24  type_of_contract        7038 non-null   object
 25  rounded_tenure          7038 non-null   int64
 26  service_type            7038 non-null   object
dtypes: bool(6), float64(4), int64(7), object(10)
memory usage: 1.2+ MB

In [44]:
# comparing male and female churn rates 
pd.crosstab(customers.churn, customers.gender, normalize="index")

gender    Female      Male
churn
No      0.492647  0.507353
Yes     0.502674  0.497326

In [42]:
# comparing the actual churn rates amongst male and female gender
pd.crosstab(customers.gender, customers.churn, normalize="index")

churn         No       Yes
gender
Female  0.730350  0.269650
Male    0.738176  0.261824

In [49]:
customers.head()

,index,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,partner_dependents,calculated,validate_total_costs,num_of_lines,internet_service.1,type_of_contract,rounded_tenure,service_type
0,0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No,9.0,True,False,True,True,True,3,593.30,True,One Line,DSL,1 Year,9,Internet & Phone
1,1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No,9.1,False,False,True,True,True,0,542.40,True,Two or More Lines,DSL,Month-to-Month,9,Internet & Phone
2,2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes,3.8,False,True,True,True,True,0,280.85,True,One Line,Fiber Optic,Month-to-Month,4,Internet & Phone
3,3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes,12.6,False,True,True,True,True,1,1237.85,True,One Line,Fiber Optic,Month-to-Month,13,Internet & Phone
4,4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes,3.2,True,True,True,True,True,1,267.40,True,One Line,Fiber Optic,Month-to-Month,3,Internet & Phone